.parameter {
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#param {
    max-width: 20%;
}

.new-param {
    margin-bottom: 20px;
}

.new-param input {
    margin-right: 10px;
}

.remove-link {
    margin-left: 10px;
}

.parameter label {
    display: inline;
}

.parameter select {
    display: inline;
    max-width: 13%;
    margin-left: 1%;
}

.parameter div {
    display: inline-block;
    margin-left: 1%;
}

.parameter .dual-value {
    display: none;
    margin-left: 1%;
}

.detail {
    display: none;
}